

<h1>Listing Cryptos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Current Price</th>
      <th>Total Value</th>
       <th>Cost per</th>
      <th>Amount owned</th>
     
      
    </tr>
  </thead>

  <tbody>
     <tr>
    <% @cryptos.each do |crypto| %>
      <% if user_signed_in? %>
        <% @foundcrypto.each do |c| %>
        <% if c["symbol"] == crypto.symbol.upcase %>
        <td><%= link_to c["name"], crypto %></td>
        <td><%= c["symbol"] %></td>
        <td>$<%= c["price_usd"].to_f.round(4) %></td>
        <td>$<%= c["price_usd"].to_d * crypto.amount_owned.to_d.round(1) %></td>
      <% end %>
 
<% end %>
     
        <td><%= crypto.cost_per %></td>
        <td><%= crypto.amount_owned %></td>
        
        
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crypto', new_crypto_path, class: "btn btn-info" %>
